[{distillery,[{config_providers,[]}]},
 {sasl,[{errlog_type,error},{sasl_error_logger,false}]},
 {swoosh,[{api_client,false}]},
 {esbuild,
     [{version,<<"0.12.18">>},
      {default,
          [{args,
               [<<"js/app.js">>,<<"--bundle">>,<<"--target=es2016">>,
                <<"--outdir=../priv/static/assets">>,
                <<"--external:/fonts/*">>,<<"--external:/images/*">>]},
           {cd,<<"/Users/jose/Documents/Development/Elixir/payments/assets">>},
           {env,
               #{<<"NODE_PATH">> =>
                     <<"/Users/jose/Documents/Development/Elixir/payments/deps">>}}]}]},
 {phoenix,[{json_library,'Elixir.Jason'}]},
 {payments,
     [{ecto_repos,['Elixir.Payments.Repo']},
      {generators,[{binary_id,true}]},
      {'Elixir.Payments.Mailer',[{adapter,'Elixir.Swoosh.Adapters.Local'}]},
      {'Elixir.PaymentsWeb.Endpoint',
          [{render_errors,
               [{view,'Elixir.PaymentsWeb.ErrorView'},
                {accepts,[<<"json">>]},
                {layout,false}]},
           {pubsub_server,'Elixir.Payments.PubSub'},
           {live_view,[{signing_salt,<<"K27S/+VA">>}]},
           {url,[{host,<<"example.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>}]}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]}].
